* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif; 
    color: #444;
    text-align: center;
    margin: 20px;
}

.logo {
    float: left;
}

.menu {
    float: right;
}

nav {
    display: block;
}
nav li {
    display: inline-block;
    list-style: none;
    margin-left: 20px;
    font-size: 14px;
}

button {
    border: 0;
    width: 120px;
    height: 40px;
    left: 100px;
    top: 220px; 
    text-transform: uppercase;
    background: #C4C4C4;
}    

header {
    padding-top: 20%;
}

section {
    min-height: 200px;
    padding: 6% 0;
}

.TellMeMore {
    display: inline;
}

.Question {
    text-align: left;
}

.Answer {
    display: block;
}

.helpButton {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    float: left;
    padding: 0;
    margin-right: 10px;
}

.QandA_Button {
    border: 0;
    width: 90px;
    height: 25px;
    left: 100px;
    top: 220px; 
    text-transform: uppercase;
    background: #C4C4C4;
    float: right;
    font-size: 12px;
}

textarea {
    margin: 0;
    width:100%;
    min-height:150px; 
    font-family: "Open Sans", sans-serif; 
    color: #444;
    font-size: 12px;
}

.VocabHelp {
    text-align: left;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 18px;
}

h3 {
    margin: 20px 0px;
    font-weight: 2;
    font-size: 16px;
}

p {
    margin: 20px 0px;
    font-size: 12px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 0;
    width: 80%;
}
  
  /* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
  